.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--bg-darkest);
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}
